@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.Font_General {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.System_Title{
    letter-spacing: 0.4rem;
}

.boton{
    color: #fff;
    transition: transform 0.5s ease;
}
.boton:hover{
    transition: .5s;
    transform: scale(1.2);
    color: #fff;
}

@keyframes dance {
    0% { transform: rotate(0deg); }
  20% { transform: rotate(-20deg); } /* Movimiento m치s amplio */
  40% { transform: rotate(20deg); } /* Movimiento m치s amplio */
  60% { transform: rotate(-10deg); } /* Movimiento m치s amplio */
  80% { transform: rotate(10deg); } /* Movimiento m치s amplio */
  100% { transform: rotate(0deg); }
  }
  
  .dance-icon {
    animation: dance 1s infinite;
  }
/*Estilos del loading*/
#divLoading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(254, 254, 254, 0.65);
  z-index: 9999;
  display: none;
}

#divLoading img {
  width: 50px;
  height: 50px;
}

/*Estilos del boton toggle de la modal de permisos*/
/* Estilos mejorados para el switch flip */
.toggle-flip .form-check-label {
  cursor: pointer;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #800000;
  border-radius: 30px;
  position: relative;
  transition: background-color 0.3s ease;
}

.toggle-flip input[type="checkbox"] {
  display: none;
}

.toggle-flip .flip-indicator {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: transform 0.3s ease;
}

.toggle-flip input:checked + label .flip-indicator {
  transform: translateX(100%);
}

.toggle-flip .form-check-label::before,
.toggle-flip .form-check-label::after {
  content: attr(data-toggle-off);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  font-size: 14px;
  line-height: 1;
  padding: 0 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.toggle-flip input:checked + label::before,
.toggle-flip input:checked + label::after {
  content: attr(data-toggle-on);
  opacity: 1;
}

.toggle-flip input:checked + label {
  background-color: #009630;
}

.toggle-flip input:checked + label .flip-indicator {
  background-color: #f8f9fa;
}
